<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> fragment test</h1>
<div style="border : 1px solid blue">
<!-- fragment2.html 전체를 가져오는 부분-->
    <th:block th:replace="~{/fragments/fragment2}"></th:block>

</div>
<!--div 태그 자체를 없애고 fragment로 교체합니다.-->
<h1> layout 1 - 1 </h1>
<div th:replace="~{/fragments/fragment1 :: part1}"></div>
<!--기존 div는 유지되고, 그 안에 fragment가 삽입됩니다.-->
<h1> layout 1 - 2 </h1>
<div th:insert="~{/fragments/fragment1 :: part2}"></div>
<!--th:block은 실제 HTML에는 존재하지 않는 가상의 태그입니다.-->
<h1> layout 1 - 3 </h1>
<th:block th:replace="~{/fragments/fragment1 :: part3}"></th:block>


<!--
브라우저 랜더링 되었을 때 표긷하눈 코드
 1. th:replace
<h1>layout 1 - 1</h1>

<div>
    <h2>Part1</h2>
</div>

2. th:insert
<h1>layout 1 - 2</h1>

<div>
    <div>
        <h2>Part2</h2>
    </div>
</div>

 3. th:block + th:replace
<h1>layout 1 - 3</h1>
<div>
    <h2>Part3</h2>
</div>
-->
</body>
</html>